@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.main {
    background: rgb(179, 243, 179);
    width: 400px;
    margin: 100px auto;
    height: 175px;
    position: relative;
    padding: 30px;
}

.badge {
    background: #e66357;
    color: black;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    width: 120px;
    position: absolute;
    top: -15px;
    left: 33%;
    text-align: center;
}

.clock {
    background: #f8f8f8;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 25px;
    font-family: orbitron;
    border-radius: 5px;
}